<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kkeli.mapharma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllPharmaActivity"
            android:label="Toutes les pharmacies"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PharmaDeGardeActivity"
            android:label="Toutes les pharmacie de garde"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StockActivity"
            android:label="@string/title_activity_stock"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".PriceActivity"
            android:label="@string/title_activity_price"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".PharmacyActivity"
            android:label="@string/title_activity_pharmacy_activy"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".PharmaDetailActivity"
            android:label="@string/title_activity_pharma_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>